<div class="mt-7 mx-1 md:mx-7">

  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-6">
      <my-auto-complete
        [suggestions]="suggestions"
        (onRequestSuggestions)="getSuggestions($event)"
        (onSearch)="search($event)"
      ></my-auto-complete>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-12 gap-2 mt-7">
    <div class="col-span-1 md:col-span-7">
      <my-table
        [columns]="tableColumns"
        [items]="pokemonsI"
        (onSelectedChange)="onSelectItem($event)"
      ></my-table>
      <div class="mt-1 flex justify-end">
        <my-paginator
          [config]="pagination"
          (onCurrentPageChange)="onPageChange($event)"
        >
        </my-paginator>
      </div>
    </div>

    <div class="col-span-1 md:col-span-5" *ngIf="presenter.selectedPokemon$ | async as selectedPokemon">
      <app-pokemon-detail
        [pokemon]="selectedPokemon"
      >
      </app-pokemon-detail>
    </div>

  </div>

</div>

